*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
font-family: 'Balsamiq Sans', cursive
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.music-container{
    width:25rem;
    height:530px;
    background-color: rgb(206, 221, 233);
    box-shadow: 4px 4px 2px rgb(166, 175, 179);
    border-radius: 20px;
    padding:30px;
    text-align: center;
}
.music-container #songname{
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5rem;
    font-size: 2rem;
    color:black;
    font-weight:800;
    margin:2rem 0 0.5rem 0 ;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}
.music-container #Singer{
    text-transform: capitalize;
    color:grey;
    font-size: 1.5rem;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-weight: 600;
}
.images{
    height:220px;
    width:220px;
    margin: auto;
}
img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 2rem rgba(0,0, 0, 0.4);
}
.controls{
    width:16rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.controls .fas{
    color: black;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 0.5rem rgba(0,0,0,0.4));
}
.controls .main_button{
    width:50px;
    height: 50px;
    border-radius: 50%;
    color: aliceblue;
    background-color: black;
    font-size: 1.2rem;
    display: flex;
    margin-left:6px;
    justify-content: center;
    align-items: center;
}
.controls .fas:hover{
    color:gray;
}
.controls .main_button:hover{
    background-color: rgb(206, 221, 233);
    color: #000;
    box-shadow: 0 1rem 2rem 0.2rem rgba( 0,0,0,0.4);
}
.anime{
    animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}